#nav > li a.active{
    color: #5AB2FF;
}
.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    position: absolute;
    width: 150px;
    border-radius: 6px;
    top: 100%;
    left: 25px;
    background-color: #f9f9f9f6;
    color: black;
    font-weight: 600;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
  
  .dropdown-menu.open {
    max-height: 200px; /* Adjust based on content */
    opacity: 1;
  }
  

  