.mockupHeader{
    border-radius: 8px;
    width: 100%;
    height: 150px;
    background: #e0e0e0;
    padding: 40px 20px;
    box-shadow: 10px 10px 40px #c4c3c3,
                  -10px -10px 40px #ffffff;
}